.projects {
    width: 90%;
    margin: auto;
    min-height: 90vh;
    @include flex(space-between, center, row);
    flex-wrap: wrap;
    text-align: center;

    h2 {
        margin: 5rem;
    }
}

.travelly,
.elana-joy {
    flex: 1 1 40rem;
    @include flex(center, center, column);
}